
.navbar-soft {
    background-color: #e5f0ff;
    border-bottom: 1px solid #d0defa;
}

    .navbar-soft .navbar-brand,
    .navbar-soft .nav-link,
    .navbar-soft .navbar-text {
        color: #1f2933;
    }

    .navbar-soft .nav-link {
        opacity: 0.7;
        font-weight: 500;
    }

        .navbar-soft .nav-link:hover {
            opacity: 1;
        }

       .navbar-soft .nav-link.active {
            opacity: 1;
            color: #111827;
            font-weight: 600;
            border-bottom: 2px solid #2563eb;
            border-radius: 0;
        }

    .navbar-soft .btn-logout {
        border-color: #dc3545;
        color: #dc3545;
        background-color: #ffffff;
    }

        .navbar-soft .btn-logout:hover {
            background-color: #dc3545;
            color: #ffffff;
        }
