@using CarPark.Application.Dtos.Auth.Request
@model Login
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="rounded-0">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - ParkingLot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
</head>
<body class="bg-secondary ">
    <div class="d-flex  align-items-center justify-content-center min-vh-100">
        <div class="card shadow w-25">
            <div class="card-body">
                <h4 class="card-title mb-3 text-center">Otopark Panel Girişi</h4>
                @await Html.PartialAsync("_FormErrorSummary")
                <form method="post" novalidate>
                    <div class="mb-3">
                        <label class="form-label">Kullanıcı Adı</label>
                        <input asp-for="Username" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Şifre</label>
                        <input asp-for="Password" type="password" value="@Model.Password" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary w-100">
                        Giriş Yap
                    </button>
                </form>
            </div>
        </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


